# The files and file extensions mentioned within this file
# will be ignored by git

# Specific files
#################
src/main.c
.gitignore~
Makefile~
README~
../Makefile
../Makefile-template
../src/blink.c
test/test_suite.o.info

# File types
#################
*.o
*.c~
*.c#
*.map
*.gcov
*.gcno
*.gcda
test/*.x
*.h~
../proto_mega/src/*.o
../ca/lib/*.a
../mov/lib/*.a
../sched/lib/*.a
../proto_mega/lib/*.a
../stab/lib/*.a

# Directories
#################
bin/
../bin/
../ca/
../mov/lib/
../sched/lib/
../proto_mega/lib/
../stab/lib/
doc/
covs/
