# The files and file extensions mentioned within this file
# will be ignored by git

# Specific files
#################
src/main.c
.gitignore~
Makefile~
README~
../Makefile
../Makefile-template
../src/blink.c

# File types
#################
*.o
*.c~
*.c#
*.map
test/*.x
*.h~

# Directories
#################
bin/
../bin/
doc/
