# This is a sample .gitignore file for SEMB 2011 project
# It lists patterns for files which will be ignored (not tracked) by Git

# build and binary files
*.[ao] # .a and .o files
*.out  # .out files
*.elf  # .elf files
*.rom  # .rom files
bin/   # everything in /bin directory will be ignored

# temporary files
*~     	   # Emacs temporary files
.DS_Store  # Mac OS hidden files

# generated documentation
doc/*.html 
 
